.white-logo h1 {
    color: var(--color-white);
}

.white-logo h1 span {
    color: var(--color-primary-1);
}

.white-logo h1, .white-logo h1 span {
    font-weight: 800;
    font-size: 1.655rem;
    user-select: none;
}