input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus,
select:focus {
    outline: 2px solid var(--color-primary-1);
    caret-color: var(--color-primary-1);
}

.defaultInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.defaultInput label {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.375rem;
    color: var(--color-grey-4);
    margin-bottom: 9px;
}

.defaultInput input {
    background-color: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: .5rem;
    padding: 0 1rem;
    height: 48px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: var(--font-family);
    color: var(--color-grey-3);
}

.defaultInput span {
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.25rem;
    color: var(--color-grey-3);
    margin-top: 4px;
}

.defaultInput .real {
    background-image: url(../assets/R$.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 96%;
}

.default-select {
    background-color: var(--color-grey-1);
    border: 2px solid var(--color-grey-1);
    border-radius: .5rem;
    padding: 0 1rem;
    height: 48px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    width: 100%;
    font-family: var(--font-family);
    color: var(--color-grey-3);
    cursor: pointer;
}