.background {
    background-color: var(--color-grey-4);
    height: 100vh;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 48px;
}

.main-content .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    width: 21.6875rem;
}

.main-content .left h2 {
    font-weight: 800;
    font-size: 2.375rem;
    line-height: 3rem;
    color: var(--color-white);
}

.main-content .left > span {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: var(--color-white);
}

.main-content .left button {
    width: 241px;
}